<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Grabacr07.KanColleViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Grabacr07.KanColleViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="lib"/>
      </assemblyBinding>
    </runtime>
    <applicationSettings>
        <Grabacr07.KanColleViewer.Properties.Settings>
            <setting name="LocalProxyPort" serializeAs="String">
                <value>37564</value>
            </setting>
            <setting name="KanColleUrl" serializeAs="String">
                <value>http://www.dmm.com/netgame/social/application/-/detail/=/app_id=854854/</value>
            </setting>
            <setting name="OverrideStyleSheet" serializeAs="String">
                <value>body {
    margin:0;
    overflow:hidden;
}

#game_frame {
    position:fixed;
    left:50%;
    top:-16px;
    margin-left:-450px;
    z-index:1;
}

#flashWrap {
    position:free;
    z-index:1;
    margin:0;
}

#spacing_top, #sectionWrap {
    visibility: hidden !important;
    height:0 !important;
    display: none !important;
}</value>
            </setting>
            <setting name="UIContentHight" serializeAs="String">
                <value>333</value>
            </setting>
            <setting name="FeatureBrowserEmulation" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="XMLTransUrl" serializeAs="String">
                <value>https://raw.github.com/Yuubari/KanColleViewer/master/resources/translations/</value>
            </setting>
            <setting name="KCVUpdateUrl" serializeAs="String">
                <value>https://raw.github.com/Yuubari/KanColleViewer/master/resources/Version.xml</value>
            </setting>
            <setting name="FlashQualityJS" serializeAs="String">
                <value>var flashQuality = function () {{
    for (var objs = document.embeds, i = objs.length - 1; i &gt;= 0; i--) {{
        		
        var embedElem = document.createElement('embed');
        var parentElem = objs[i].parentNode;
        embedElem.setAttribute('quality', '{0}');
        embedElem.setAttribute('wmode', '{1}');
        embedElem.setAttribute('type', 'application/x-shockwave-flash');
        embedElem.setAttribute('id', objs[i].getAttribute('id'));
        embedElem.setAttribute('width', objs[i].getAttribute('width'));
        embedElem.setAttribute('height', objs[i].getAttribute('height'));
        embedElem.setAttribute('src', objs[i].getAttribute('src'));
        embedElem.setAttribute('bgcolor', objs[i].getAttribute('bgcolor'));
        embedElem.setAttribute('allowScriptAccess', objs[i].getAttribute('allowScriptAccess'));
        embedElem.setAttribute('base', objs[i].getAttribute('base'));
        parentElem.removeChild(objs[i]);
        parentElem.appendChild(embedElem);
    }}
    
    for (objs = document.getElementsByTagName('object'), i = objs.length - 1; i &gt;= 0; i--) {{
        var embedElem = document.createElement('embed');
        var parentElem = objs[i].parentNode;
        embedElem.setAttribute('quality', '{0}');
        embedElem.setAttribute('wmode', '{1}');
        embedElem.setAttribute('id', objs[i].getAttribute('id'));
        embedElem.setAttribute('type', 'application/x-shockwave-flash'); 
        embedElem.setAttribute('width', objs[i].getAttribute('width'));
        embedElem.setAttribute('height', objs[i].getAttribute('height'));       
        
        for (var c = objs[i].childNodes, j = c.length - 1, set = false; j &gt;= 0; j--) {{
            if ((c[j].tagName == 'PARAM') &amp;&amp; (c[j].getAttribute('name').toLowerCase() == 'src'))
                embedElem.setAttribute('src', c[j].getAttribute('value'));
            else if ((c[j].tagName == 'PARAM') &amp;&amp; (c[j].getAttribute('name').toLowerCase() == 'movie'))
                embedElem.setAttribute('src', c[j].getAttribute('value'));
            else if ((c[j].tagName == 'PARAM') &amp;&amp; (c[j].getAttribute('name').toLowerCase() == 'bgcolor'))
                embedElem.setAttribute('bgcolor', c[j].getAttribute('value'));
            else if ((c[j].tagName == 'PARAM') &amp;&amp; (c[j].getAttribute('name').toLowerCase() == 'allowscriptaccess'))
                embedElem.setAttribute('allowScriptAccess', c[j].getAttribute('value'));
            else if ((c[j].tagName == 'PARAM') &amp;&amp; (c[j].getAttribute('name').toLowerCase() == 'base'))
                embedElem.setAttribute('base', c[j].getAttribute('value'));
        }}
        
        parentElem.removeChild(objs[i]);
        parentElem.appendChild(embedElem);
    }}
}};

var TimedInject = setInterval(function () {{
    CheckChange();
}}, 100);

function CheckChange() {{
    if (document.getElementById('flashWrap').innerHTML.length &gt; 10) {{
        flashQuality();
        clearInterval(TimedInject);
    }}
    else if (!document.getElementById('flashWrap'))
        clearInterval(TimedInject);
}}</value>
            </setting>
        </Grabacr07.KanColleViewer.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Grabacr07.KanColleViewer.Properties.Settings>
            <setting name="FlashEmbed" serializeAs="String">
                <value>&lt;embed id="KCVGenerated" width="800" height="480" wmode="{1}" quality="{0}" bgcolor="#000" allowScriptAccess="always" type="application/x-shockwave-flash" src="{2}"&gt;</value>
            </setting>
        </Grabacr07.KanColleViewer.Properties.Settings>
    </userSettings>
</configuration>
